doctype html
html
  head
    style
      include ../public/css/styles.css
      title= title
      link(rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type='text/css')

  body
    div.container.listing-reg
      h1 Reset Password

      block content
